.text-assignment
  color #00c7dfff !important
.bg-assignment
  background #00c7dfff !important

.text-hire
  color #9ed747 !important
.bg-hire
  background #9ed747 !important

.text-hire-light
  color #9ed7475c !important
.bg-hire-light
  background #9ed7475c !important

.text-proposal
  color #f0c80eff !important
.bg-proposal
  background #f0c80eff !important

.text-proposal-light
  color #f0c80e5e !important
.bg-proposal-light
  background #f0c80e5e !important

.text-payment
  color #f974acff !important
.bg-payment
  background #f974acff !important

.text-deferred, .text-liquid
  color #C9DAF8 !important
.bg-deferred, .bg-liquid
  background #C9DAF8 !important
  opacity 1 !important
  /deep/.q-field__control:before
    border-left: 4px solid #6D9EEB !important;

.text-seeds
  color #C4E4B8 !important
.bg-seeds
  background #C4E4B8 !important
  opacity 1 !important
  /deep/.q-field__control:before
    border-left: 4px solid #54B232 !important;

.text-draft
  color #E06666 !important
.bg-draft
  background #E06666 !important
